/* ==========================================
ABOUT
========================================== */

.about{

background:#111;

color:#fff;

padding:150px 6%;

}

.about-container{

max-width:1500px;

margin:auto;

display:grid;

grid-template-columns:1fr 1fr;

gap:100px;

align-items:start;

}

.about-tag{

display:inline-block;

margin-bottom:30px;

letter-spacing:5px;

font-size:.75rem;

color:#8d8d8d;

}

.about h2{

font-size:clamp(4rem,8vw,7rem);

line-height:.88;

letter-spacing:-5px;

font-weight:900;

}

.about-right{

display:flex;

flex-direction:column;

gap:30px;

}

.about-right p{

font-size:1.05rem;

line-height:2;

color:#bcbcbc;

}

.stats{

margin-top:40px;

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}

.stats div{

padding:30px;

background:#191919;

border:1px solid rgba(255,255,255,.06);

transition:.4s;

}

.stats div:hover{

transform:translateY(-10px);

border-color:#ff6b00;

}

.stats h3{

font-size:3rem;

margin-bottom:10px;

}

.stats span{

letter-spacing:2px;

font-size:.75rem;

text-transform:uppercase;

color:#999;

}

@media(max-width:900px){

.about{

padding:100px 20px;

}

.about-container{

grid-template-columns:1fr;

gap:60px;

}

.about h2{

font-size:3rem;

}

.stats{

grid-template-columns:1fr;

}

}